.dataForm {
  width: 100%;
  background: rgba(239, 246, 255, 255);
  padding: 10px 5px;
  border-bottom: 1px solid grey;
  outline: none;
}

.linkProfile {
}

.linkProfile li .icon {
  font-size: 24px;
  color: black;
}

.linkProfile li span {
  display: none;
}

/* .linkProfile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-right: 2px solid grey;
  background-size: cover;
}

.contactTitle {
  writingmode: "vertical-rl";
  textorientation: "upright";
} */

/*
.txtArea {
  background: white;
  padding: 20px 10px;
  border: 1px solid grey;
}

.linkProfile li span {
  font-size: 16px;
}
*/

/* @media (max-width: 1100px) {
  .linkProfile li {
    flex-direction: column;
    text-align: center;
  }
  .contactContainer {
    gap: 0px;
    background: blue;
  }
} */

@media (min-width: 768px) {
  .linkProfile li .icon {
    font-size: 26px;
    color: black;
  }
}
@media (min-width: 1024px) {
  .linkProfile li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid grey;
    background: white;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .linkProfile li:nth-child(5) {
    border: none;
  }
  .linkProfile li span {
    display: block;
  }
  .dataForm {
    width: 50%;
    font-size: 14px;
    background: rgba(239, 246, 255, 255);
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
